<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar-bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">welcome to ecommerce project</a>
    </div>
    <ul class="nav navbar-nav">
           <li class="page"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">footwear
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">shoes</a></li>
          <li><a href="#">flipflpos</a></li>
          <li><a href="#">loafer</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">mens wear<span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="#">shirts</a></li>
   <li><a href="#">brazers</a></li>
    <li><a href="#">pants</a></li>
  </ul>
  </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">womens wear
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">tops</a></li>
          <li><a href="#">kurtis</a></li>
          <li><a href="#">sarees</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">electronics
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">laptops</a></li>
          <li><a href="#">mobile</a></li>
          <li><a href="#">cameras</a></li>
        </ul></li>
    </ul>
  </div>
</nav>
<img src="ecommerce.png" width="100%">
</body>
</html>
