
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <beans:bean id="noOpPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder">
        </beans:bean>

<!-- 	<http auto-config="true">
	<intercept-url pattern="/index" access="authenticated"/>
	<form-login login-page="/adminlogin"
	login-processing-url="/adminlogin" username-parameter="email"  password-parameter="password"
	default-target-url="/"
	authentication-failure-forward-url="/adminlogin" />
	
<csrf disabled="true"/>
	</http>

	<authentication-manager>
		<authentication-provider>
		<password-encoder ref="noOpPasswordEncoder"></password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password,
                status from admin where email=?"
				authorities-by-username-query="select email, role from admin where email=?" />
		</authentication-provider>
	</authentication-manager> -->
	
	
<http auto-config="true" use-expressions="true"
		pattern="/vendor/**"
		authentication-manager-ref="vendorAuthentication">
		<intercept-url pattern="/"
			access="hasAuthority('vendor')" />
		<form-login login-page="/vendorlogin"
			login-processing-url="/vendor/vendorlogin"
			default-target-url="/"
			username-parameter="email"
			password-parameter="password"
			authentication-failure-forward-url="/vendorlogin" />
			<logout logout-success-url="/"/>
		<csrf disabled="true" />
	</http>


	<authentication-manager id="vendorAuthentication">
		<authentication-provider>
			<password-encoder ref="noOpPasswordEncoder"></password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password,status  from vendor where email=?"
				authorities-by-username-query="select email,role from vendor where email=?" />
		</authentication-provider>

	</authentication-manager>
	
</beans:beans> 